.coin {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: gray;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  margin: 10px;
  display: inline-block;
  line-height: 50px;
  font-size: 20px;
}
/* Mixin */
.gradients {
  background: #eaeaea;
  background: linear-gradient(top, #eaeaea, #cccccc);
  background: -o-linear-gradient(top, #eaeaea, #cccccc);
  background: -ms-linear-gradient(top, #eaeaea, #cccccc);
  background: -moz-linear-gradient(top, #eaeaea, #cccccc);
  background: -webkit-linear-gradient(top, #eaeaea, #cccccc);
}
/* Implementation */
#travel-details {
  background-color: #663333;
  background-image: -webkit-linear-gradient(left, #663333, #333333);
  background-image: -moz-linear-gradient(left, #663333, #333333);
  background-image: -o-linear-gradient(left, #663333, #333333);
  background-image: -ms-linear-gradient(left, #663333, #333333);
  background-image: linear-gradient(left, #663333, #333333);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #555;
  border-radius: 3px;
}
#travel-details h1 {
  color: yellow;
}
#travel-details h2 {
  color: lightpink;
}
header {
  background-color: #000000;
}
header nav {
  background-color: #0000ff;
}
header nav a {
  color: #0000ff;
}
.highlight {
  background-color: yellow;
  box-shadow: 10px 10px 5px #888888;
}
.class1 {
  background-color: #2d5e8b;
}
.class1 div {
  color: #2d5e8b;
}
.class1 div desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}
.class1 div img {
  height: 100px;
  padding: 5px;
  text-align: center;
}
#images {
  display: inline;
  align-items: center;
  padding: 1%;
  border: 1px solid #ffffff;
}
#images a {
  font-family: helvetica, arial;
}
.class2 {
  background-color: #fff;
  color: #2d5e8b;
}
.class2 li {
  color: purple;
}
#div-button {
  border: 1px solid #2d5e8b;
  width: 60;
  height: 90;
  align-items: center;
  font-size: 25;
}
#div-button input {
  color: cadetblue;
}
.title {
  color: #fe33ac;
  border-color: #fdcdea;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding-left: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
}
.title h1 {
  text-align: center;
  color: cadetblue;
  font-family: helvetica, arial;
}
.middle {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding-left: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  padding-top: 2%;
}
