header {
    width:80%;
    background-color:black;
    color:white;
    margin-right:auto;
    margin-left:auto;
    padding:10px;
    overflow:hidden;
}
body {
    font-family:Arial,Helvettica,sans-serif;
    background-color:slategray;
    width: 80%;
    color:#f5f5f5;
    padding: 10px;
    overflow: hidden;
}

.box {
  width: 200px;
  height: 100px;
  background: #FFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  -webkit-transform: translate(0, 0);
  -webkit-transition: -webkit-transform 500ms;
  transform: translate(0, 0);
  transition: transform 500ms;
  will-change: transform;
  text-align: center;
}

.box.move {
  -webkit-transform: translate(100px, 100px);
  transform: translate(100px, 100px);
}

.box h2 {
  color: red;
}

#vacations-wrapper {
    width: 400px;
    height: 500px;
    float: left;
    padding: 5px;
    margin: 5px;
    background-color: #eeeeee;
}

#top-div {
    background-color: #ffff00;
}

h1 {
    color: blue;
    font-family: Helvetica;
}

p {
    color: cadetblue;
    margin: 5px;
    cursor: pointer;
}
p:hover {
    background: yellow;
}

.div01 {
    font-family: Comic Sans MS;
    color: pink;
}

.div02 {
    font-family: "Comic Sans MS";
    color: black !important;
}
